.header {
    height: 150px;
}
.header .container-1600 {
    height: 100%;
    display: flex;
    align-items: center;
}
.header-band {
    height: 10px;
    background-color: #6F42C1;
    box-shadow: 0px 0px 48px #c6cce3e5;
}
.logo{
    max-width: 300px;
}